<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>修改老師</h1>
    <form method="POST" action="/edit_teacher/?nid={{teacher_info.tid}}">
        <p>老師名稱: <input type="text" name="tname" value="{{teacher_info.tname}}"/></p>
        <p>班級名稱:
            <select multiple size="5" name="class_ids">
                {% for row in class_list %}
                    {% if row.cid in class_id_list %}
                        <option value="{{row.cid}}" selected>{{row.cname}}</option>
                    {% else %}
                        <option value="{{row.cid}}">{{row.cname}}</option>
                    {% endif %}
                {% endfor %}
            </select>
        </p>
        <input type="submit" value="提交" />
    </form>

</body>
</html>